.move-up {
	transform: translateX(2);
	transition: all .75s ease;
}

.fade-in {
	transition: 
		height 4s,
		opacity 0.5s;
	@starting-style {
    opacity: 0;
  	}	
}

.fade-in-slower {
	transition: 
		opacity 0.5s;
	transition-delay: 0.5s;
	@starting-style {
		opacity: 0;
		visibility: hidden;
  	}	
}

.fade-in-slowest {
	transition: 
		opacity 1s,
		height 4s,
		display 2s;
	transition-delay: 1s;
	@starting-style {
		opacity: 0;
		visibility: hidden;
  	}	
}



@keyframes fadeInOpacity {
	0% {
		opacity: 0;
		transform: translateX(-10%)
	}
	100% {
		opacity: 1;
		transform: translateX(0%)
	}
}

.game {
	outline-width: 1px;
	outline-style: outset;
	box-sizing: border-box;
}

body {
	font: 1.2em / 1.5 system-ui;
	margin-top: 10px;
	padding: 3%;
}

h1 {
	text-align: center;
	font-size: 80;
}

h2 {
	text-align: center;
}

p {
	text-align: center;
}

ul {
  box-sizing: border-box;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  width: 150px;
  background-color: #f1f1f1;
  /* height: 30%;  */
  position: fixed; /* Make it stick, even on scroll */
  /* overflow: auto; Enable scrolling if the sidenav has too much content */
}

li a {
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
}

/* Change the link and background color on hover */
li a:hover {
  background-color: #555555;
  color: white;
}

.active {
  background-color: #04AA6D;
  color: white;
}

a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
}